<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace" name="Javalite" packages="org.javalite.logging">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <JsonLog4j2Layout dateFormatPattern="yyyy-MM-dd HH:mm:ss.SSS" />
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>


